
<nav class="navbar navbar-expand-lg navbar-light bg-light" style="background-image: url('https://res.cloudinary.com/jerrick/image/upload/v1664190297/6331875947b91b001d247521.jpg'); 
 height: 100px;background-size: cover;background-position: center;">
  <ul class="navbar-nav">
    <li class="nav-item">
      <a style="margin-top: 30px;font-weight: bold;" routerLink="employees" routerLinkActive="active" class="nav-link">Employee List</a>
    </li>
    <li class="nav-item">
      <a style="margin-top: 30px;font-weight: bold;"routerLink="create-employees" routerLinkActive="active" class="nav-link">Add Employee</a>
    </li>
  </ul> 
  
</nav>

<body class="container">
  <router-outlet> </router-outlet>
</body>
<footer class="footer">
  <div class="container">
    <h1>FOOTER 2023</h1>
  </div>
</footer>